body{
    font-family: 'Courier New', Courier, monospace;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}

.top-one{
    flex: initial;
    display: flex;
    flex-direction: column;
    width: 70%;
    
    
}

.container-one {
    flex: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 4%;
}

.one-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.one-text-left{
    font-size: 30px;
    margin: 1px;
}

.one-right {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.one-text-right{
    padding-left: 10px;
    margin: 10px;
    font-size: 18px;
}


.container-two {
    flex: initial;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;

}

.two-right{
    display: flex;
    align-items: center;

}

.image-big{
    flex: initial;
    width: 525px;
    height: auto;
}

.two-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two-left-top{
    font-size: 48px;
    margin: 1px;
}

.two-left-middle{
    font-size: 18px;
}

.two-left-end{
    font-size: 18px;
    align-items: flex-start;
    margin-top: 15px;
}

button{
    background-color: #3882f6;
    padding: 5px 15px;
    font-size: 15px;
    color: white;
}


.two{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 30px;
    padding-bottom: 30px;
}

.top-2 {
    flex: initial;
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    justify-content: center;

}

.three-header {
    flex: auto;
    text-align: center;
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
}

.three-footer{
    flex: initial;
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    flex: initial;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 20px;
}

.image-small {
    flex: initial;
    height: 150px;
    width: auto;

}

.p-three{
    flex: initial;
    text-align: center;
}

.three{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    
}

.top-3 {
    flex: initial;
    display: flex;
    width: 65%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.four-header{
    font-style: italic;
    font-size: 25px;
}

.four-footer{
    text-align: right;
    font-size: 20px;
}


.container-five{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.five-box{
    flex: initial;
    width: 70%;
    background-color:#3882f6 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-radius: 15px;
}

.five-box-left {
    flex: initial;
    color: white;
    margin-left: 80px;

}

.five-box-right {
    flex: initial;
    color: white;
    font-size: 20px;
    margin-right: 80px;

}

.p4 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px; 
    margin-bottom: 0px;
}

.p3 {
    font-size: 20px; 
    margin-top: 1px;
    margin-bottom: 5px; 
    padding: 0px;
}


.container-six{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    margin-top: 35px;
}

button{
    border-radius: 20px;
    color: white;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center
}

